framework: net45
source https://www.nuget.org/api/v2/

nuget Akka.Cluster 1.0.5.15-beta
nuget Akka.Logger.Serilog 1.0.5
nuget Serilog.Sinks.EventLog
nuget Serilog.Sinks.Literate
nuget Topshelf.Serilog
nuget fake