source https://www.nuget.org/api/v2/

nuget Akka.Cluster 1.0.5.15-beta framework: >= net45
nuget Akka.Logger.Serilog 1.0.5 framework: >= net45
nuget Serilog.Sinks.EventLog framework: >= net45
nuget Serilog.Sinks.Literate framework: >= net45
nuget Topshelf.Serilog framework: >= net45
nuget fake