framework: net452
source https://www.nuget.org/api/v2/

nuget Akka.Cluster 1.0.8.25-beta
nuget Akka.Logger.Serilog 1.0.8
nuget Akka.Serialization.Wire 1.0.8.25-beta
nuget Helios 1.4.2
nuget Newtonsoft.Json
nuget Serilog.Sinks.EventLog
nuget Serilog.Sinks.Literate
nuget Topshelf.Serilog
nuget fake