<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="akka" type="Akka.Configuration.Hocon.AkkaConfigurationSection, Akka"/>
  </configSections>
  <startup>
    <supportedRuntime sku=".NETFramework,Version=v4.5.2" version="v4.0"/>
  </startup>
  <akka>
    <hocon>
      <![CDATA[
        lighthouse {
          actorsystem: "webcrawler" # POPULATE NAME OF YOUR ACTOR SYSTEM HERE
        }
      
        petabridge.cmd {
          host = "0.0.0.0"
          port = 9110
          log-palettes-on-startup = on
        }
              
        akka {
          actor { 
            provider = "Akka.Cluster.ClusterActorRefProvider, Akka.Cluster"
            serializers {
              wire = "Akka.Serialization.HyperionSerializer, Akka.Serialization.Hyperion"
            }
            serialization-bindings {
              "System.Object" = wire
            }
          }
          remote {
            log-remote-lifecycle-events = DEBUG
            enabled-transports = ["akka.remote.dot-netty.tcp"]
            dot-netty.tcp {
              transport-class = "Akka.Remote.Transport.DotNetty.TcpTransport,Akka.Remote"
              applied-adapters = []
              transport-protocol = tcp
              byte-order = "little-endian"
              # will be populated with a dynamic host-name at runtime if left uncommented
              # public-hostname = "POPULATE STATIC IP HERE"
              hostname = "0.0.0.0"
              port = 4053
            }
          }            
            
          loggers = ["Akka.Logger.Serilog.SerilogLogger, Akka.Logger.Serilog"]
            
          cluster {
            # will inject this node as a self-seed node at run-time
            # manually populate other seed nodes here, i.e. 
            # "akka.tcp://lighthouse@127.0.0.1:4053", "akka.tcp://lighthouse@127.0.0.1:4044"
            seed-nodes = [] 
            roles = [lighthouse]

            failure-detector {
              heartbeat - interval = 10 s
            }
            auto-down-unreachable-after = 10s
            gossip-interval = 5s
          }
        }
      ]]>
    </hocon>
  </akka>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity culture="neutral" name="Google.Protobuf" publicKeyToken="a7d26565bac4d604"/>
        <bindingRedirect newVersion="3.4.1.0" oldVersion="0.0.0.0-3.4.1.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity culture="neutral" name="Topshelf" publicKeyToken="b800c4cfcdeea87b"/>
        <bindingRedirect newVersion="4.0.0.0" oldVersion="0.0.0.0-4.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity culture="neutral" name="Serilog" publicKeyToken="24c2f752a8e58a10"/>
        <bindingRedirect newVersion="2.0.0.0" oldVersion="0.0.0.0-2.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity culture="neutral" name="System.Collections.Immutable" publicKeyToken="b03f5f7f11d50a3a"/>
        <bindingRedirect newVersion="1.2.2.0" oldVersion="0.0.0.0-1.2.2.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity culture="neutral" name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed"/>
        <bindingRedirect newVersion="9.0.0.0" oldVersion="0.0.0.0-9.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity culture="neutral" name="Serilog.Sinks.EventLog" publicKeyToken="24c2f752a8e58a10"/>
        <bindingRedirect newVersion="2.0.0.0" oldVersion="0.0.0.0-2.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity culture="neutral" name="Serilog.Sinks.Literate" publicKeyToken="24c2f752a8e58a10"/>
        <bindingRedirect newVersion="2.0.0.00" oldVersion="0.0.0.0-2.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity culture="neutral" name="Serilog.Sinks.Console" publicKeyToken="24c2f752a8e58a10"/>
        <bindingRedirect newVersion="3.1.1.0" oldVersion="0.0.0.0-3.1.1.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity culture="neutral" name="Topshelf.Serilog" publicKeyToken="b800c4cfcdeea87b"/>
        <bindingRedirect newVersion="4.0.0.0" oldVersion="0.0.0.0-4.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity culture="neutral" name="DotNetty.Handlers" publicKeyToken="bc13ca065fa06c29"/>
        <bindingRedirect newVersion="0.4.7.0" oldVersion="0.0.0.0-0.4.7.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity culture="neutral" name="DotNetty.Buffers" publicKeyToken="bc13ca065fa06c29"/>
        <bindingRedirect newVersion="0.4.7.0" oldVersion="0.0.0.0-0.4.7.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity culture="neutral" name="DotNetty.Codecs" publicKeyToken="bc13ca065fa06c29"/>
        <bindingRedirect newVersion="0.4.7.0" oldVersion="0.0.0.0-0.4.7.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity culture="neutral" name="DotNetty.Transport" publicKeyToken="bc13ca065fa06c29"/>
        <bindingRedirect newVersion="0.4.7.0" oldVersion="0.0.0.0-0.4.7.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity culture="neutral" name="DotNetty.Common" publicKeyToken="bc13ca065fa06c29"/>
        <bindingRedirect newVersion="0.4.7.0" oldVersion="0.0.0.0-0.4.7.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>